//------------------------------------//
//  $LAYOUT
//------------------------------------//


body { min-width: $site-min-width; }

body, html {
	height: 100%;
	background-color: $black;
 	-webkit-font-smoothing: antialiased;
    font-weight: normal;
     outline: 0;
}

.site-wrapper {
  //max-width: $site-wrapper-max-width;
  min-width: $site-min-width;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100%;
  //@include rem(padding-left, $gutter, $base-font-size--mobile);
  //@include rem(padding-right, $gutter, $base-font-size--mobile);
}

// BEGIN example space150 video layout
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
// END example space150 layout

//15px left and right gutter when viewed on handheld devices
.gutter  {
	max-width: 1024px;
	margin: 0 auto;
 	 @include media-query(below-lap) {
		 padding-left:15px;
		 padding-right:15px;
	 }
 }



//------------------------------------//
//  1. WHO WE ARE SECTION
//------------------------------------//
.who-we-are {
	background: url(../images/nasa-desert-testing.png);
	background-size: cover;
	background-position: center 60%;
	position: relative;
}

.spaceClock-wrapper {
	display: inline-block;
	position: relative;
	margin: 0 auto;
	text-align: center;

	@include media-query(below-lap) {
		display: inline-block;
	  transform:scale(.5,.5) translateX(-50%);
	}
}

.who-we-are-copy {
	 position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: $white;
   width:100%;
   font-family: $font-body;
	 font-size:16px;
	 p {
		 margin-bottom: 0;
	 }

	 .who-we-are-content {
		 padding-top: 50px;
		 h2 {
			 font-size:1em;
			 word-spacing: 1px;
			 letter-spacing: 2px;
		 }
	 }
}

// END WHO WE ARE SECTION

//------------------------------------//
//  2. WHAT WE DO
//------------------------------------//

// Look in _/split_slider.scss


//END WHAT WE DO SECTION

//------------------------------------//
//  3. SPACECAMP SECTION
//------------------------------------//

.logoheader{
	font-family: $font-head;
	color:$white;
	text-align:center;
    position: absolute;
    top: 43px;
    width: 100%;
    height: 80px;
    background-image: url(../images/spacelogo.svg);
    background-repeat:no-repeat;
    background-position:center;
    z-index: 100;
    h1{
    	 margin-left:-5px;
    }
}

#ailerons-c{
	margin-right:1.2px;
	margin-left:-0.5px;
}
.covervid-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.masthead {
    position: relative;

}
.masthead-video {
    z-index: 0;
}
.masthead-overlay {
    background-color: $black;
    opacity: 0.4;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    width: 100%;
    height: 100%;
}

.masthead-arrow {
    position: absolute;
    bottom: 43px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
    border-right: 1px solid $white;
    border-bottom: 1px solid $white;
    border-radius: 2px;
}
.spacecamp {
	.covervid-content {
		position: absolute;
		text-align: center;
		left: 50%;
		right: auto;
		top: 50%;
  	    transform: translateX(-50%) translateY(-50%);
		color: $white;
		width: 100%;
	}
}
.process-box {
	position: relative;
	width: 120px;
	height: 150px;
	margin: 30px 20px;
	border: 3px solid $white;
	display: inline-block;
	text-align: center;
	color: $white;
	clear:both;
  // border-radius: 8px;
	.process-box-top-half {
		height: 75px;
		position: relative;
	}
  .process-box-top-half h3{
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size:36px;
	}
	.process-box-bottom-half {
		height: 75px;
		border-top: 1px solid;
		position: relative;
	}
	.process-box-bottom-half p{
		 position: relative;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
  		font-family: $font-body;
	    font-size:16px;
	    letter-spacing: 2.5px;
	}
}

.play-button{
		background-image: url(../images/play-button.svg);
		background-repeat:no-repeat;
        background-position:center;
		width:90px;
		height:90px;
		margin: 0 auto;
		padding-top: 90px;
		padding-bottom: 90px;
	}

	.space-camp-video-wrapper {
		display:none;
	}
// END SPACECAMP SECTION

//------------------------------------//
//  4. CAPTAIN'S LOG SECTION
//------------------------------------//

.one-whole h1{
  padding-top: 43px;
}

.capt-log {
	font-family: $font-body;
	font-size:16px;
	color:$white;
	 text-align: center;
	   position: absolute;
	 top: 50%;
	 left: 50%;
	 max-width: 500px;
	 width: 100%;
	 transform: translate(-50%, -50%);
}
.captains-log{
background: url(../images/crowd.jpg);
background-size:cover;
background-position: center center;
background-repeat: no-repeat;
}

//END CAPTAIN'S LOG SECTION

//------------------------------------//
//  5. CADETS SECTION
//------------------------------------//

.remodal .grid-wrapper{
 margin-left:0;
}

#cadets{
	background-color:$tertiary;
	color:$primary;
	position: relative;
	padding-bottom:43px;

}

#spacecadet-headline{
	padding-top: 43px;
	color:$primary;
}

/* Caption Style 7 */
.griddle {
	padding: 0px 20px 50px 20px;
}

.griddle figure {
	margin: 0;
	position: relative;
	z-index: 2;
}

.griddle figure img {
	display: block;
	position: relative;
}

.griddle figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.cs-style-7 figure img {
	z-index: 10;
	width: 100%;
	max-width: none;
}

.cs-style-7 figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	-moz-transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	transition: opacity 0.3s, height 0.3s, box-shadow 0.3s;
	box-shadow: 0 0 0 0px #2c3f52;
	text-align: center;
}

.no-touch .cs-style-7 figure:hover figcaption,
.cs-style-7 figure.cs-hover figcaption {
	opacity: 1;
	height: 110%;
	box-shadow: 0 0 0 10px #2c3f52;
}

.cs-style-7 figcaption a {
	opacity: 0;
	-webkit-transition: opacity 0s;
	-moz-transition: opacity 0s;
	transition: opacity 0s;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
}

.no-touch .cs-style-7 figure:hover figcaption a,
.cs-style-7 figure.cs-hover figcaption a {
	-webkit-transition: opacity 0.3s 0.2s;
	-moz-transition: opacity 0.3s 0.2s;
	transition: opacity 0.3s 0.2s;
	opacity: 1;
}

.modal-body-copy {
	text-align: left;
}

//------------------------------------//
//  6. ENLIST SECTION
//------------------------------------//

.enlist {
	background: url(../images/people.jpg);
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	h2 {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}


.btn {
	border:none;
}

.enlist-box {
	border: 3px solid #fff;
	//border-radius: 36px;
	padding: 0px 28px;
	margin: 20px auto;
	display: inline-block;
	a {
		font-size: 1.5em;
	}
}

.form-wrapper {
	// margin: 100px auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	max-width: 800px;
	.inputs--left{
		margin: 0px 0px 20px 30px;
		@media only screen and (max-width: 767px){
			margin: 0px 30px;
		}
	}
	.inputs--right{
		margin: 0px 30px 20px 0px;
		@media only screen and (max-width: 767px){
			margin: 0px 30px;
		}
	}
	input {
		margin-top: 10px;
	}
	select {
		margin-top: 10px;
	}
}


// END ENLIST SECTION

//------------------------------------//
//  7. Available Positions
//------------------------------------//


.positions {
	background: url(../images/positions.jpg);
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	overflow:hidden;
	h2 {
	padding-top: 1em;
	}
}
.position-boxes {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	.position-box {
		position: relative;
		width: 135px;
		height: 35px;
		margin-bottom: 25px;
		border: 3px solid $white;
		display: inline-block;
		text-align: center;
		color: $white;
		clear:both;
	}
}

// END APPLICATION INSTRUCTIONS SECTION

//------------------------------------//
//  8. Application Instructions
//------------------------------------//

.instructions {
	background: url(../images/apply.jpg);
	background-size:cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	overflow:hidden;
	color: $white;
	h2 {
		padding-top: 1em;
	}
	.content-wrapper {
		padding: 6em;
	}
	ul {
		list-style-type: disc;
	}
	p {
		text-align: justify;
	}

}

input {
	margin: 0 auto;
}
