
.what-we-do {
  margin: 0;
  height: 100%;
  text-transform: uppercase;
  background-color: black;
  color: white;
}

.split {
  text-align: center;
}

ul {
  text-align: left;
  font-size: 1.1em;
  padding: 1.5em;
}

.split__left__inner,
.split__right__inner {
  padding: 100px 0;
}

.split__left__inner {
  background-image: url(../images/full_left_iss.jpg);
}

.split__right__inner {
  background-image: url(../images/full_right_iss.jpg);
}

@media (min-width: 768px) {
  .split {
    position: relative;
    min-height: 900px;
    min-height: 100vh;
    overflow: hidden;
  }

  .split__left, .split__right {
    overflow: hidden;
  }

  .split__left {
    z-index: 1;
    -webkit-backface-visibility: hidden;
  }

  .split__left__inner h2 {
    width: 50%;
    float: left;
  }
  .split__left__inner ul {
    width: 50%;
    float: right;
  }
  .split__right__inner h2 {
    width: 50%;
    float: right;
  }
  .split__right__inner ul {
    width: 50%;
    float: left;
  }

  .split__right__inner h2 {
    order: 1;
  }

  .split__left, .split__right,
  .split__left__inner, .split__right__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 0;
  }
}
